.container {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 5px solid green;
  margin-left: 12%;
  margin-right: 12%;
}

header {
  height: 12%;
  display: flex;
  align-items: center;
  background-color: gray;
  padding-top: 2%;
  padding-bottom: 2%;
  position: relative;
}

.logo {
  width: 150px;
}

.vertical-line {
  border-left: 4px solid white;
  height: 100px;
}

.website-title {
  padding-left: 10px;
  font-size: 25px;
  display: flex;
  text-align: center;
  color: white;
}

#wallet-container {
  position: absolute;
  top: 0;
  width: 150px;
  right: 0;
  bottom: 0;
}

#wallet-container a {
  display: flex;
  /*justify-content => center the link*/
  justify-content: center;
}

#wallet-info {
  margin-top: 50px;
}



/* styles for table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}





/* copied */
.add-form {
    margin-bottom: 40px;
}
.currency {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
} 
.currency.reminder {
  border-left: 5px solid green;
}
.currency h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.center_horizontal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}